.Home {
    height: 100%;
    width: 100%;
}

.Categories {
    display: flex;
}

.Search {
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
}

.Search input[type=button] {
    max-width: 200px;
}

.ProductsWindow {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
