.Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: yellow;
}

.Field {
    display: flex;
    align-items: center;
    padding: 10px;
    .value {
        float: left;
    }
}