.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.Header {
  display: flex;
  flex-direction: row;
  background-color: darkslateblue;
  height: 70px;
  align-items: center;
  padding: 0px 20px;
  .Title {
    flex: 1 1;
    color: white;
    h1 {
      cursor:pointer;
      width: max-content;
    }
  }
  button {
    color: white;
    height: max-content;
  }
}

.Page {
  padding: 20px;
  min-height: 100%;
  flex: 1;
}

.Footer {
  background-color: darkslateblue;
  height: 100px;
}

.TextInput {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.TextInput label {
  padding: 10px;
  width: 30%;
  max-width: 100px;
}

input, select {
  margin: 0px 5px;
  padding: 0px 10px;
  height: 30px;
  width: 100%;
  border: none;
  border-radius: 2px;
  background-color: rgba(71, 61, 139, 0.1);
  font-size: medium;
  color: rgb(53, 53, 53);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type=text]:focus {
  background-color: rgba(71, 61, 139, 0.2);
  border: solid grey 1px;
  outline: none;
}

input:hover, input:active {
  background-color: rgba(71, 61, 139, 0.2);
}

input[type=button] {
  color: white;
  background-color: rgba(71, 61, 139, 0.5);
}

input[aria-selected=true] {
  background-color: rgba(49, 33, 151, 0.7);
  color: white;
  outline: none;
  border: none;
}